@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CSPrag!</h1>
    <p>This is an example website made by Dachuan Yan, uniqname: yandachu</p>
</div>
